body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", */
  font-family: "StartWars-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.message {
  word-wrap: break-word;
}

.basic-transition-in {
  height: 120px;
  transition: height 0.3s ease-out;
}

.basic-transition-out {
  height: 0px;
  transition: height 0.3s ease-out;
}

.font-funky {
  font-family: "RussoOne-Regular", sans-serif;
}

@font-face {
  font-family: "StartWars-Regular";
  src: url("/fonts/STJEDISE.TTF");
}

@font-face {
  font-family: "RussoOne-Regular";
  src: url("/fonts/RussoOne-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "PaletteMosaic Regular", Proxima Nova, system-ui, sans-serif;
  }
}

